@using Anduin.AnduinOSHome.Models
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<List<VersionInfo>> Versions
@{
    ViewData["Title"] = "Open Source & Linux";
    var slogans = new[]
    {
        "No telemetry at all! Choose <span class='text-primary'>AnduinOS</span> to regain your privacy",
        "Today is the best day for you to switch to <span class='text-primary'>AnduinOS</span>",
        "<span class='text-primary'>AnduinOS</span> is Ubuntu's package base + <span class='text-primary'>Flatpak</span> app experience",
        "Everything you do on Ubuntu, you can do it on <span class='text-primary'>AnduinOS</span>",
        "Reveal the power of your computer, choose <span class='text-primary'>AnduinOS</span>",
        "Transitioning to <span class='text-primary'>AnduinOS</span> will be the best decision you've ever made",
        "<span class='text-primary'>AnduinOS</span> 1.0 is released on 2024.09.01",
    };

    // Select a random slogan
    var random = new Random().Next(0, slogans.Length);
    var randomSlogan = Localizer[slogans[random]].Value;

    // Get latest version information
    var visibleVersions = Versions.Value.Where(v => v.IsVisible).ToArray();
    var lastestVersion = visibleVersions.LastOrDefault()?.Latest;

    // Get current Culture.
    var currentCulture = ViewContext.HttpContext.Features
        .Get<IRequestCultureFeature>()?
        .RequestCulture.Culture.Name.ToLower().Trim().Replace('-', '_');

    // Donate link.
    var donateLink = currentCulture == "zh_cn" ?
        "/img/pay_anduin.png" :
        "https://www.paypal.com/paypalme/anduinxue2017";
}

@section scripts {
    <script src="~/js/index.js" asp-append-version="true" defer></script>
}

@* The following section is for localizer to auto localize. Not for actual rendering. *@
@* <div style="display: none;"> *@
@*     <p> *@
@*         @Localizer["No telemetry at all! Choose <span class='text-primary'>AnduinOS</span> to regain your privacy"] *@
@*     </p> *@
@*     <p> *@
@*         @Localizer["Today is the best day for you to switch to <span class='text-primary'>AnduinOS</span>"] *@
@*     </p> *@
@*     <p> *@
@*         @Localizer["<span class='text-primary'>AnduinOS</span> is Ubuntu's package base + <span class='text-primary'>Flatpak</span> app experience"] *@
@*     </p> *@
@*     <p> *@
@*         @Localizer["Everything you do on Ubuntu, you can do it on <span class='text-primary'>AnduinOS</span>"] *@
@*     </p> *@
@*     <p> *@
@*         @Localizer["Reveal the power of your computer, choose <span class='text-primary'>AnduinOS</span>"] *@
@*     </p> *@
@*     <p> *@
@*         @Localizer["Transitioning to <span class='text-primary'>AnduinOS</span> will be the best decision you've ever made"] *@
@*     </p> *@
@*     <p> *@
@*         @Localizer["<span class='text-primary'>AnduinOS</span> 1.0 is released on 2024.09.01"] *@
@*     </p> *@
@* *@
@* </div> *@

<!-- Ad Banner -->
<div class="alert alert-dismissible fade show text-center mb-0 pt-2 pb-2 border-0 rounded-0 text-white" role="alert"
     style="background-color: #2a4b77;">
    <div class="container">
        <strong class="text-white">@Localizer["Special Thanks!"]</strong>
        @Localizer["The AnduinOS server is proudly sponsored by"] <a href="https://voxihost.pl/"
                                                                     class="alert-link text-white">@Localizer["Voxihost"]</a>, @Localizer["a provider of top-tier hosting services"].
        <a href="https://voxihost.pl/" class="alert-link ms-2">@Localizer["Sign up today!"]</a>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: .8rem"></button>
</div>

<vc:navbar></vc:navbar>

@* Main content section *@
<section class="landing-intro text-bg-dark pt-5 pt-lg-6 pb-5 pb-lg-7">
    <div class="landing-intro-content container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-5 mx-auto">
                <span class="badge badge-subtle-primary p-1">@Localizer["Open Source"]</span>
                <span class="badge badge-subtle-primary p-1">@Localizer["Free"]</span>
                <span class="badge badge-subtle-primary p-1">@Localizer["GPL-v3 License"]</span>
                <h1 id="main-slogan" class="my-4 text-white" style="font-size: 3rem;">
                    @Html.Raw(randomSlogan)
                </h1>
                <p class="text-lg text-white-50">@Localizer["AnduinOS is a custom Ubuntu-based Linux distribution that offers a familiar and easy-to-use experience for anyone moving to Linux."]</p>
                <div class="my-4">
                    <span class="badge badge-subtle-primary p-1">v@(lastestVersion)</span>
                </div>
                <div class="my-4">
                    <a class="btn btn-primary btn-lg btn-pill" href="#download-links">@Localizer["Download"]</a>
                    <a href="https://docs.anduinos.com" target="_blank"
                       class="btn btn-outline-primary btn-lg btn-pill">@Localizer["Docs"]</a>
                </div>
                <div class="my-4">
                    <a href="https://download.anduinos.com/" target="_blank" class="">
                        @Localizer["All versions"]
                    </a>
                    <a href="https://docs.anduinos.com/CHANGELOG.html" target="_blank"
                       class="ms-2">
                        @Localizer["Change Log"]
                    </a>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-flex mx-auto text-center">
                <div class="landing-intro-screenshot">
                    <img src="sc.webp" alt="AnduinOS Main screenshot" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
</section>

@* Features section *@
<section class="py-6">
    <div class="container">
        <div class="mb-5 text-center">
            <span class="text-uppercase text-primary text-sm fw-medium mb-1 d-block">@Localizer["Reasons"]</span>
            <h2 class="h1">@Localizer["Why choose AnduinOS?"]</h2>
            <p class="text-muted fs-lg">@Localizer["Smaller image, friendly interface, unbeatable performance, safe and secure."]
            </p>
        </div>
        <div class="row text-start">
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-start py-3">
                    <div class="landing-feature">
                        <i data-lucide="sliders"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="mt-0">@Localizer["Ready to use"]</h4>
                        <p class="fs-lg">@Localizer["The ISO is just 2.0GB in size. Similar to Ubuntu, it is simple to install and can meet your daily needs without additional configuration or complicated operations."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-start py-3">
                    <div class="landing-feature">
                        <i data-lucide="smartphone"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="mt-0">@Localizer["Friendly interface"]</h4>
                        <p class="fs-lg">@Localizer["The GNOME-based desktop environment have beautiful interfaces and human-computer interactions that fit user habits, allowing you to quickly get started with AnduinOS without too much learning cost."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-start py-3">
                    <div class="landing-feature">
                        <i data-lucide="mail"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="mt-0">@Localizer["Root and privacy"]</h4>
                        <p class="fs-lg">@Localizer["Privacy is no longer optional. It's essential. AnduinOS is designed to gather nothing from you. We don't track you. We don't profile you. We don't target you. You remain anonymous to the system."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-start py-3">
                    <div class="landing-feature">
                        <i data-lucide="chrome"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="mt-0">@Localizer["Ecological perfection"]</h4>
                        <p class="fs-lg">@Localizer["AnduinOS is based on Ubuntu's package base. It's compatible with most of the apt packages from Ubuntu. It's a perfect combination of experience and ecology."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-start py-3">
                    <div class="landing-feature">
                        <i data-lucide="code"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="mt-0">@Localizer["Open Source"]</h4>
                        <p class="fs-lg">@Localizer["AnduinOS is an open-source project. Following the GPL-v3 license, you can view the source code, modify it, and redistribute it. It's free and will always be free."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-start py-3">
                    <div class="landing-feature">
                        <i data-lucide="download-cloud"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="mt-0">@Localizer["Containerized"]</h4>
                        <p class="fs-lg">@Localizer["Graphical applications are installed via Flatpak, and keep themselves separate from the base system (Since 1.3). They also allow for fine-grained control over their permissions."]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Download part section *@
<section class="py-5 bg-white" id="download-links">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-10 col-xxl-10 mx-auto">
                <div class="mb-4 text-center">
                    <span
                        class="text-uppercase text-primary text-sm fw-medium mb-1 d-block">@Localizer["Versions"]</span>
                    <h2 class="h1">@Localizer["Choose your AnduinOS version"]</h2>
                    <p class="text-muted fs-lg">@Localizer["AnduinOS is available in"] <a
                            href="https://docs.anduinos.com/VERSIONS.html">@Localizer["two version branches"]</a>: @Localizer["LTS and Standard"]@Localizer["."]
                        @Localizer["The LTS version is recommended for users need a stable long-term support, while the Standard version is recommended for users with newer devices and want to explore the latest features."]
                    </p>
                </div>
                <div class="row py-4">
                    @foreach (var version in visibleVersions)
                    {
                        <div class="col-sm-6 mb-5 mb-md-0">
                            <div class="card text-center h-100 @(version.LargeCard ? "middle-card" : "")">
                                <div class="card-body d-flex flex-column"
                                     @(version.NotRecommended
                                         ? Html.Raw("style=\"color:#bbb !important\"")
                                         : null)>
                                    <div class="mb-4">
                                        <h5>@version.Codename</h5>
                                        <span class="@(version.Recommended ? "display-2" : "display-5")">
                                            @version.Version
                                        </span><br/>
                                        <span>@version.Type</span>
                                    </div>

                                    <h6 class="mt-3">@Localizer["Includes:"]</h6>
                                    <ul class="list-unstyled">
                                        <li class="mb-2">@Localizer["Support till"] @version.Support</li>
                                        <li class="mb-2">@version.Gnome</li>
                                        <li class="mb-2">@version.Packages @Localizer["packages"]</li>
                                        <li class="mb-2">@version.Kernel</li>
                                        <li class="mb-2">@Localizer["Released on"] @version.ReleaseDate</li>
                                        <li class="mb-2">
                                            @Localizer["Latest version"] @version.Latest
                                        </li>
                                        @if (!string.IsNullOrEmpty(version.AdditionalText))
                                        {
                                            <li class="mb-2">@Localizer[version.AdditionalText]</li>
                                        }
                                        @if (version.Recommended)
                                        {
                                            <li class="mb-2">
                                                <span class="badge badge-subtle-primary">
                                                    @Localizer["Recommended"]
                                                </span>
                                            </li>
                                        }
                                    </ul>

                                    <div class="mt-auto">
                                        <button type="button"
                                                class="btn btn-lg btn-pill @(version.Recommended ? "btn-primary" : "btn-outline-primary")"
                                                data-bs-toggle="modal"
                                                data-bs-target="#download-modal"
                                                data-version="@version.Version"
                                                data-latest="@version.Latest"
                                                data-prefered-language="@currentCulture"
                                                data-size="@version.Size">
                                            @Localizer["Download"]
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@* Image gallery section *@
<section class="py-6">
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="mb-4">
                            <span
                                class="text-uppercase text-primary text-sm fw-medium mb-1 d-block">@Localizer["Usage"]</span>
                            <h2 class="h1 mb-3">@Localizer["With AnduinOS, you can do more"]</h2>
                            <p class="text-muted fs-lg">
                                @Localizer["Everything you do on Ubuntu, you can do it on AnduinOS. You can use it as a daily operating system, a development environment, a server, or a learning tool. It's up to you."]
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 py-3">
                        <img gallery src="scs/watch_comp.webp" class="img-fluid rounded-3 landing-img" loading="lazy"
                             alt="Watching Youtube Videos on AnduinOS"/>
                        <h4 class="mt-3">@Localizer["Browsing"]</h4>
                    </div>
                    <div class="col-md-4 py-3">
                        <img gallery src="scs/steam_comp.webp" class="img-fluid rounded-3 landing-img" loading="lazy"
                             alt="Steam Playing Games on AnduinOS"/>
                        <h4 class="mt-3">@Localizer["Gaming"] <sup><small
                                    class="badge badge-subtle-primary">@Localizer["With Steam"]</small></sup></h4>
                    </div>
                    <div class="col-md-4 py-3">
                        <img gallery src="scs/build_comp.webp" class="img-fluid rounded-3 landing-img" loading="lazy"
                             alt="Writing Code on AnduinOS"/>
                        <h4 class="mt-3">@Localizer["Build"]</h4>
                    </div>
                    <div class="col-md-4 py-3">
                        <img gallery src="scs/office_comp.webp" class="img-fluid rounded-3 landing-img" loading="lazy"
                             alt="Working on mail and chat on AnduinOS"/>
                        <h4 class="mt-3">@Localizer["Work"]</h4>
                    </div>
                    <div class="col-md-4 py-3">
                        <img gallery src="scs/serve_comp.webp" class="img-fluid rounded-3 landing-img" loading="lazy"
                             alt="Hosting a server on AnduinOS"/>
                        <h4 class="mt-3">@Localizer["Serve"]</h4>
                    </div>
                    <div class="col-md-4 py-3">
                        <img gallery src="scs/blender_comp.webp" class="img-fluid rounded-3 landing-img" loading="lazy"
                             alt="Editing blender 3D model on AnduinOS"/>
                        <h4 class="mt-3">@Localizer["Editing"]</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Image modal for gallery *@
<div id="iglmodal" class="iglmodal" onclick="igl_hide()">
    <span class="close" onclick="igl_hide()">&times;</span>
    <img class="iglmodal-content" id="iglmodal-img" alt="Image preview" src="#"/>
</div>

@* User reviews section *@
<section class="py-6 bg-white">
    <div class="container-fluid">
        <div class="mb-5 text-center">
            <span class="text-uppercase text-primary text-sm fw-medium mb-1 d-block">@Localizer["Reviews"]</span>
            <h2 class="h1">@Localizer["What users are saying"]</h2>
            <p class="text-muted fs-lg">@Localizer["Here's what some of our 2000+ users have to say about working with AnduinOS."]
            </p>
        </div>
        <div class="d-flex flex-nowrap overflow-auto review-scroll container" style="scrollbar-width: thin;">
            <div class="flex-shrink-0 me-3" style="max-width: 580px;">
                <blockquote class="landing-quote card border">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <a href="https://www.linkedin.com/in/johnathon-horner-0513bb193/" target="_blank">
                                    <img src="ava/johnathon.webp" width="48" height="48"
                                         alt="User Johnathon's avatar" loading="lazy"/>
                                </a>
                            </div>
                            <div class="ps-3">
                                <h5 class="mb-1 mt-2">Johnathon Horner</h5><small
                                    class="d-block text-muted h5 fw-normal">@Localizer["Composer, Producer, and Audio Engineer"]</small>
                            </div>
                        </div>
                        <p class="lead mb-2">@Localizer["...if you're considering taking back your privacy and switching to Linux, Anduin OS is the perfect place to start your journey. It's clean, it's simple, and the transition is seamless. Anduin OS wasn't designed for the tech nerd. It was designed specifically for YOU. Make the switch. You won't regret it."]</p>

                        <div class="landing-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </blockquote>
            </div>

            <div class="flex-shrink-0 me-3" style="max-width: 320px;">
                <blockquote class="landing-quote card border">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <a href="https://github.com/vinceliuice" target="_blank">
                                    <img src="ava/vinceliuice.webp" width="48" height="48"
                                         alt="User vinceliuice's avatar" loading="lazy"/>
                                </a>
                            </div>
                            <div class="ps-3">
                                <h5 class="mb-1 mt-2">Vince</h5>
                                <small
                                    class="d-block text-muted h5 fw-normal">@Localizer["Designer"]</small>
                            </div>
                        </div>
                        <p class="lead mb-2">@Localizer["AnduinOS has a clean, beautiful modern design, user-friendly interface, among so many distributions, this is the choice you can't miss. Trust me!!!"]</p>

                        <div class="landing-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </blockquote>
            </div>

            <div class="flex-shrink-0 me-3" style="max-width: 380px;">
                <blockquote class="landing-quote card border">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <a href="https://yuyuyuyublog.aiursoft.cn/" target="_blank">
                                    <img src="ava/yuyuyuyu.webp" width="48" height="48" alt="User yuyuyuyu's avatar"
                                         loading="lazy"/>
                                </a>
                            </div>
                            <div class="ps-3">
                                <h5 class="mb-1 mt-2">Yuyuyuyu</h5>
                                <small
                                    class="d-block text-muted h5 fw-normal">@Localizer["Lead Developer"]</small>
                            </div>
                        </div>
                        <p class="lead mb-2">@Localizer["AnduinOS has breathed new life into my Surface Go, which I previously thought was useless. Surprisingly, it runs much smoother than Windows. All the features work perfectly!"]</p>

                        <div class="landing-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </blockquote>
            </div>

            <div class="flex-shrink-0 me-3" style="max-width: 430px;">
                <blockquote class="landing-quote card border">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <a href="https://aimer.aiursoft.cn/en/" target="_blank">
                                    <img src="ava/aimer.webp" width="48" height="48" alt="User Aimer's avatar"
                                         loading="lazy"/>
                                </a>
                            </div>
                            <div class="ps-3">
                                <h5 class="mb-1 mt-2">Aimer</h5>
                                <small
                                    class="d-block text-muted h5 fw-normal">@Localizer["Developer"]</small>
                            </div>
                        </div>
                        <p class="lead mb-2">@Localizer["AnduinOS is your final Linux distribution! It's built for developers and is lightweight yet still powerful. With its well-constructed themes and shortcuts, Windows users can smoothly transition to AnduinOS and forget about setting up your system."]</p>

                        <div class="landing-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </blockquote>
            </div>

            <div class="flex-shrink-0 me-3" style="max-width: 280px;">
                <blockquote class="landing-quote card border">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <a href="https://cody.aiursoft.cn/" target="_blank">
                                    <img src="ava/coderay.webp" width="48" height="48" loading="lazy"
                                         alt="User Cody Ray's avatar"/>
                                </a>
                            </div>
                            <div class="ps-3">
                                <h5 class="mb-1 mt-2">Cody Ray</h5>
                                <small
                                    class="d-block text-muted h5 fw-normal">@Localizer["Developer"]</small>
                            </div>
                        </div>
                        <p class="lead mb-2">@Localizer["AnduinOS has profoundly streamlined my life and work processes, solidifying its position as my preferred Linux distribution for everyday use!"]</p>

                        <div class="landing-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>

@* Media reviews section *@
<section class="py-6">
    <div class="container">
        <div class="row text-start">
            <div class="col-12 col-md-3">
                <div class="d-flex align-items-start py-3">
                    <div class="flex-grow-1">
                        <h4 class="mt-0">
                            <a href="https://www.windowscentral.com/software-apps/a-microsoft-engineer-made-a-linux-distro-thats-like-a-comfort-blanket-to-ex-windows-users"
                               target="_blank">Windows Central</a>
                        </h4>
                        <p class="fs-lg">@Localizer["...it's pretty spectacular. It's also quite possibly one of the friendliest Linux distros I've tried when it comes to folks who may well be moving over from Windows. Built by one person, it's pretty astonishing how good it is."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="d-flex align-items-start py-3">
                    <div class="flex-grow-1">
                        <h4 class="mt-0">
                            <a href="https://www.zdnet.com/article/this-windows-11-like-linux-distribution-is-aimed-squarely-at-developers/"
                               target="_blank">ZDNet</a>
                        </h4>
                        <p class="fs-lg">@Localizer["In fact, this is one of those \"set-it-and-forget-it\" distributions that makes using Linux a delight. It's intuitive, simple to use, and well-designed."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="d-flex align-items-start py-3">
                    <div class="flex-grow-1">
                        <h4 class="mt-0">
                            <a href="https://betanews.com/2025/05/01/say-no-thanks-microsoft-windows-11-and-yes-please-to-anduinos-1-3/"
                               target="_blank">BetaNews</a>
                        </h4>
                        <p class="fs-lg">@Localizer["The OS continues to focus on ease of use, especially for those users moving over from Windows."]</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="d-flex align-items-start py-3">
                    <div class="flex-grow-1">
                        <h4 class="mt-0">
                            <a href="https://www.neowin.net/news/the-sole-maintainer-of-linux-distribution-anduinos-turns-out-to-be-a-microsoft-employee/"
                               target="_blank">Neowin</a>
                        </h4>
                        <p class="fs-lg">@Localizer["Linux stands as a good option to keep computers running, and if you want something that looks similar to Windows, then AnduinOS is worth checking out."]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* FAQ section *@
<section class="py-5 bg-white">
    <div class="container">
        <div class="mb-5 text-center">
            <span class="text-uppercase text-primary text-sm fw-medium mb-1 d-block">@Localizer["FAQ"]</span>
            <h2 class="h1">@Localizer["Frequently asked questions"]</h2>
            <p class="text-muted fs-lg">@Localizer["Here are some of the answers you might be looking for."]</p>
        </div>

        <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
                <div class="accordion" id="accordionFaq">
                    <div class="card border mb-3">
                        <div class="card-header cursor-pointer" id="faqZero" data-bs-toggle="collapse"
                             data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                            <h6 class="mb-0">
                                @Localizer["Is it free to use AnduinOS?"]
                            </h6>
                        </div>
                        <div id="collapseZero" class="collapse" aria-labelledby="faqOne"
                             data-bs-parent="#accordionFaq">
                            <div class="card-body py-3">
                                @Localizer["Yes, AnduinOS is free to use. It is an open-source project that follows the GPL-v3 license. You can view the source code, modify it, and redistribute it. It's free and will always be free."]
                            </div>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header cursor-pointer" id="faqOne" data-bs-toggle="collapse"
                             data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6 class="mb-0">
                                @Localizer["What kind of applications can I run on AnduinOS?"]
                            </h6>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="faqOne"
                             data-bs-parent="#accordionFaq">
                            <div class="card-body py-3">
                                @Localizer["AnduinOS is based on Ubuntu's package base. Any software that runs on Ubuntu that can run on AnduinOS. You can run a variety of applications, including but not limited to: Linux apps, web apps, and even Windows apps using Wine."]
                                <br><br>
                                @Localizer["AnduinOS uses Flatpak to manage graphical applications. Flatpak is a software utility for software deployment, application virtualization, and package management. It allows you to run applications in a sandboxed environment, which can help improve security and stability."]
                            </div>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header cursor-pointer" id="faqTwo" data-bs-toggle="collapse"
                             data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h6 class="mb-0">
                                @Localizer["How can I search for solutions to problems?"]
                            </h6>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="faqTwo"
                             data-bs-parent="#accordionFaq">
                            <div class="card-body py-3">
                                @Localizer["On Ask Ubuntu, you can search for and ask about very common issues. Solutions for almost all AnduinOS issues are identical to those for Ubuntu. You can rely entirely on Ubuntu's documentation and expertise to resolve problems with AnduinOS."]
                            </div>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header cursor-pointer" id="faqThree" data-bs-toggle="collapse"
                             data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <h6 class="mb-0">
                                @Localizer["Is there any support included?"]
                            </h6>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="faqThree"
                             data-bs-parent="#accordionFaq">
                            <div class="card-body py-3">
                                @Localizer["You have access to AnduinOS online support services via GitHub Discussions. Please contact us at"] <a
                                    href="https://github.com/Anduin2017/AnduinOS/discussions">@Localizer["here"]</a>
                                @Localizer["for any questions."]
                            </div>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header cursor-pointer" id="faqFour" data-bs-toggle="collapse"
                             data-bs-target="#collapseWho" aria-expanded="true" aria-controls="collapseWho">
                            <h6 class="mb-0">
                                @Localizer["Who is behind AnduinOS?"]
                            </h6>
                        </div>
                        <div id="collapseWho" class="collapse" aria-labelledby="faqOne"
                             data-bs-parent="#accordionFaq">
                            <div class="card-body py-3">
                                @Localizer["AnduinOS is a non-profit project built in spare time, sustained solely through donations, and is not backed by any corporation or national government."]
                                <a href="https://news.anduinos.com/post/2025/5/6/story-behind-anduinos-a-letter-from-anduin"
                                   target="_blank">@Localizer["Read more"]</a>.
                                <br><br>
                                @Localizer["AnduinOS is funded by user donations. We are grateful for your support. And you can"] <a
                                    href="@donateLink"
                                    target="_blank">@Localizer["donate"]</a>
                                @Localizer["to us via PayPal."]
                            </div>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header cursor-pointer" id="faqFive" data-bs-toggle="collapse"
                             data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <h6 class="mb-0">
                                @Localizer["How can I contact the AnduinOS team?"]
                            </h6>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="faqFour"
                             data-bs-parent="#accordionFaq">
                            <div class="card-body py-3">
                                @Localizer["Please contact us with email at"] <a
                                    href="mailto:anduin@aiursoft.com">anduin@aiursoft.com</a>
                                @Localizer["for any questions. Please join our"] <a
                                    href="https://rvlt.gg/dPwPs8e6">@Localizer["Revolt channel"]</a>
                                @Localizer["for community support."]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Community section *@
<section class="py-6">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
                <h2 class="h1 mb-3">
                    @Localizer["Join our community and get involved with AnduinOS!"]
                </h2>
                <a href="https://rvlt.gg/dPwPs8e6" class="align-middle btn btn-danger btn-pill btn-lg mt-n1"
                   target="_blank">
                    <i class="fa-solid fa-comments"></i>
                    <span class="ms-1">
                            @Localizer["Join Revolt channel"]
                        </span>
                </a>

                <a href="https://github.com/Anduin2017/AnduinOS/discussions"
                   class="align-middle btn btn-secondary btn-pill btn-lg mt-n1" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <span class="ms-1">
                           @Localizer["Join Discussions"]
                       </span>
                </a>
            </div>
        </div>
    </div>
</section>

@* modal for download links *@
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="download-modal-title" class="modal-title">@Localizer["Download AnduinOS"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
                <p id="download-modal-description"
                   class="mb-0">@Localizer["To download AnduinOS, select the correct edition below:"]</p>
                <hr>
                <div class="mb-3">
                    <label for="language-select" class="form-label">@Localizer["Language"]</label>
                    <select id="language-select" class="form-select"></select>
                </div>
                <div id="download-links-container" class="d-flex flex-wrap gap-2">
                    <!-- Dynamic insert download links -->
                </div>
                <div class="mt-3">
                    <p class="text-muted">
                        @Localizer["By downloading, you agree to our"]
                        <a asp-controller="Home" asp-action="Terms">@Localizer["Terms of Service"]</a>
                        @Localizer["and"]
                        <a asp-controller="Home" asp-action="Privacy">@Localizer["Privacy Policy"]</a>
                        @Localizer["."]
                    </p>
                    <p class="text-muted">
                        @Localizer["After downloading, you may want to learn how to"]
                        <a href="https://docs.anduinos.com/Install/Download-AnduinOS.html">@Localizer["verify the checksum"]</a>
                        @Localizer["and"]
                        <a href="https://docs.anduinos.com/Install/Burn-A-USB-Stick.html">@Localizer["burn the ISO to a USB drive"]</a>
                        @Localizer["."]
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
