@using Microsoft.AspNetCore.Localization

@* Navigation bar section *@
@{
    var currentCulture = ViewContext.HttpContext.Features
        .Get<IRequestCultureFeature>()?
        .RequestCulture.Culture.Name.ToLower().Trim().Replace('-', '_');

    // Donate link.
    var donateLink = currentCulture == "zh_cn" ?
        "/img/pay_anduin.png" :
        "https://ko-fi.com/anduinxue/goal?g=0";
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark landing-navbar">
    <div class="container">
        <a class="navbar-brand landing-brand text-white" asp-controller="Home" asp-action="Index">
            <img src="@Model.LogoUrl" alt="logo" style="width: 24px; height: 24px;" />@Model.ProjectName</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item d-none d-md-inline-block">
                <a class="nav-link active text-lg px-lg-3" href="https://docs.anduinos.com">@Localizer["Docs"]</a>
            </li>
            <li class="nav-item d-none d-md-inline-block">
                <a class="nav-link active text-lg px-lg-3" href="https://news.anduinos.com">@Localizer["News"]</a>
            </li>
            <li class="nav-item d-none d-md-inline-block">
                <a class="nav-link active text-lg px-lg-3"
                   href="https://docs.anduinos.com/Install/System-Requirements.html">@Localizer["Install"]</a>
            </li>
            <li class="nav-item d-none d-md-inline-block">
                <a class="nav-link active text-lg px-lg-3"
                   href="https://github.com/Anduin2017/AnduinOS">@Localizer["Source Code"]</a>
            </li>
            <li class="nav-item d-none d-md-inline-block">
                <a class="nav-link active text-lg px-lg-3"
                   href="https://github.com/Anduin2017/AnduinOS/discussions">@Localizer["Community"]</a>
            </li>
        </ul>
        <a href="/#download-links" class="btn btn-lg btn-success btn-pill my-2 my-sm-0 ms-3">
            <i class="fa-solid fa-download me-1"></i>@Localizer["Download"] AnduinOS</a>
        <a href="@donateLink" target="_blank" rel="noreferer"
           class="btn btn-lg btn-primary btn-pill my-2 my-sm-0 ms-3">
            <i class="fa-solid fa-money-bill me-1"></i>@Localizer["Donate"]</a>
    </div>
</nav>
